body{
   background-image: url("./sailBoat/gradient-violet-bg.jpg");
    margin: 0;
    font-family: 'roboto', sans-serif;
    color: white;
    vertical-align: center;
   
}

.datButton{
    margin-top: 0;
    font-family: 'roboto', sans-serif;
    margin-right: right 0;
    background-color: transparent;
    color: white;
}


h1{
    color:white
}

.somewhereButton{
    border: 1px solid gold;
    background-color: gold;

}

.Topbar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
    margin: auto;
    position: fixed;
    text-align: right;
    width: 100%;
}
.horizontal_menu li {
    display: inline;
    margin: 5px;
    padding: 20px;
    color: white;
}

.horizontal_menu li a{
    color: white;
}

.Duckling{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    
}

.Featured{

    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #434146;
    line-height: 1.8;
    vertical-align: middle;
}

